.register{
  width: 90%;
  height: 65%;
  max-width: 18rem;
  padding: 5% 2% 2% 2%;
}


.form {
  text-align: center;
}

.div {
  display: flex;
  justify-content: center;
}

.form div input {
  display: block;
  width: 70%;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

.form button {
  margin-top: 2rem;
  padding: 0 3rem;
  min-width: 10rem;
  height: 3rem;
  background-color:#815CF0;
  border-radius: 25px;
  color: white;
  font-family: "Noto Sans KR";
  font-weight: bold;
  box-shadow: 0 9px 17px 0px rgba(132, 97, 197, 0.5);
  border: none;
}

.form button:hover {
  background-color: #7C46E0;
  cursor: pointer;

}


.form span {
  display: block;
  margin-top: 2rem;
  font-size: 0.5rem;

}

.link {
  color: #815CF0;
  font-weight: bold;
  margin-left: 0.2rem;
  text-decoration-line: none;

}

